/* This is a CSS comment.*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.title {
	font-family: "Open Sans", sans-serif;
	font-size: 8px;
	padding: 1px;
	color: white;
	background-color: #99c0db;
}

.description {
	font-family: "Open Sans", sans-serif;
	font-size: medium;
	margin: 15px;
}

.graphContainer {
	font-family: "Open Sans", sans-serif;
	font-size: medium;
	margin: 20px;
	/*margin-left: ;*/
}

.closer {
	font-family: "Open Sans", sans-serif;
	font-size: 8px;
	padding: 1px;
	color: white;
	background-color: #fb998e;
	text-align: right;
}